<table class="table">
    <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Player</th>
            <th scope="col">Position</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.Players)
        {
            <tr>
                <th scope="row">@player.Rank</th>
                <td>
                    <a href="@player.PlayerUrl" target="_blank">@player.Name</a>
                </td>
                <td>@player.Position</td>
            </tr>
        }
    </tbody>
</table>
