@model DraftViewModel

@section Scripts {
    <script src="~/content/fantasy.js"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
}

<!--$('#roundPickGroup').append('<div class="col-md-6"><h4 id="round">Round: ' + rnd + '</h4></div><div class="col-md-6"><h4 id="pick">Pick: ' + pick + '</h4></div>');-->

<div class="col-md-12 mb-3">
    <div class="row col-md-12">
        <div class="col-md-9"><h3>@Model.LeagueName</h3></div>
        <div class="btn-group col-md-3">
            <div class="col-6"><button class="btn btn-primary col-12" id="hideShowTeamButton">Hide Team</button></div>
            <div class="col-6"><button class="btn btn-primary col-12" id="draftBoardButton">Draft Board</button></div>
        </div>
        <div class="btn-group col-md-3">
            <div class="col-6"><button class="btn btn-primary float-right col-12" id="editDraftButton">Edit</button></div>
            <div class="col-6"><button class="btn btn-primary float-right col-12" id="draftButton">Draft</button></div>
        </div>
    </div>
</div>

<div id="draftContent" class="col-md-12">
    <div class="row col-md-12">
        <div class="col-md-8">
            <div class="input-group input-group-lg mb-3 justify-content-left" id="searchBar">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
                <input class="form-control" type="text" placeholder="Search" id="searchInput">
            </div>
        </div>

        <div class="col-md-4">
            <div class="row" id="roundPickGroup">
                <div class="row col-md-6">
                    <h4 class="col-md-9" id="round">Round: </h4>
                    <h4 class="col-md-3" id="roundVal">@Model.round</h4>
                </div>
                <div class="row col-md-6">
                    <h4 class="col-md-9" id="pick">Pick: </h4>
                    <h4 class="col-md-3" id="pickVal">@Model.pick</h4>
                </div>'
            </div>
        </div>
    </div>
    <div class="row col-md-12" id="draftInfoRow">
        <div class="col-md-8 bdr">
            <table class="table col-md-12" id="draftTable">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Player</th>
                        <th scope="col">Position</th>
                        <th>
                            <select class="form-select" id="filterPositions">
                                <option value="0">ALL</option>
                                <option value="1">QB</option>
                                <option value="2">RB</option>
                                <option value="3">WR</option>
                                <option value="4">TE</option>
                                <option value="5">DST</option>
                                <option value="6">K</option>
                            </select>
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="col-md-4 bdr">
            <table class="col-md-12" id="teamTable">
                <thead>
                    <tr><th>@Model.TeamName</th></tr>
                </thead>
                <tbody>
                    <tr><td>QB</td></tr>
                    <tr><td>RB</td></tr>
                    <tr><td>RB</td></tr>
                    <tr><td>WR</td></tr>
                    <tr><td>WR</td></tr>
                    <tr><td>FLEX</td></tr>
                    <tr><td>TE</td></tr>
                    <tr><td>K</td></tr>
                    <tr><td>DEF</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-12 justify-content-center" id="draftBoard"></div>
