body {
    background-image: url('../images/pattern.png');
    background-repeat: repeat;
    padding-top: 25px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
}

@media only screen and (min-width: 600px) {
    #carousel {
        background-color : black;
        width : 60vw;
        height : 75vh;
    }

    .carousel-inner img {
        width: auto;
        height: 70vh;
        display: block;
        margin: auto;
    }
}

.carousel-inner {
    width: auto;
    height: 100%;
}

.frame {
    background-color: #ddc;
    border: solid 5vmin #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing: border-box;
}

.frame::before 
{
    border-radius: 2px;
    bottom: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25) inset;
    content: "";
    left: -2vmin;
    position: absolute;
    right: -2vmin;
    top: -2vmin;
}

table {
    background-color: white !important;
}

#draftTable, #teamTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#draftTable th, #draftTable td, #teamTable th, #teamTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#draftTable tr, #teamTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#draftTable tr.header, #draftTable tr:hover, #teamTable tr.header, #teamTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#round, #pick {
    text-align: center;
}

#draftContent, .card-body, #draftBoard, draftBoard.row {
    padding: 0;
}

.card {
    padding: 5px;
}

#draftBoard div.row {
    margin: 0 !important;
}

.bottom-right {
    right: 0;
    bottom: 0;
    position: absolute;
}

/*#draftButton, #draftBoardButton {
    width: 55%;
}*/

.btn-group div {
    padding-left: 1px;
    padding-right: 1px;
}

.btn-transparent {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.fa-times {
    color: red;
}

#listOfTeamsTable th:nth-child(2) {
    text-align:center;
}

@media only screen and (max-width: 800px) {
    #draftBoardButton {
        display: none !important;
    }
}

.edit-effect {
    cursor: pointer;
}

.edit-effect:hover {
    border-color: red;
    -webkit-box-shadow: 0 0 10px red;
    -moz-box-shadow: 0 0 10px red;
    box-shadow: 0 0 10px red;
}

.card-selected {
    border-color: red;
    -webkit-box-shadow: 0 0 10px red;
    -moz-box-shadow: 0 0 10px red;
    box-shadow: 0 0 10px red;
    background-color: gray !important;
}

.popup-form {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #b3b3b3;
    border: none;
    border-color: #d9d9d9;
}

.popup-form form {
    padding: 15px;
    width: 100%;
}

.close-icon {
    float: right;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
}



